/* border-top: 1px solid #eaeaea; */
/* color: #0070f3; */
/* background: #fafafa; */

.card {
  border: 1px solid #eaeaea;
  margin: 0.5rem auto;
  padding: 1rem;
  border-radius: 0.5rem;
}

.title {
  font-size: 20px;
  color: rgb(136, 136, 136);
}

.buttonBack {
  padding: 0.5rem 1rem;
  color: white;
  background-color: rebeccapurple;
  border: 1px solid rebeccapurple;
  border-radius: 0.3rem;
  cursor: pointer;
}

.buttonBack:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
